.first{
    padding-top: 32px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-bottom: 40px ;
}
.logo{
    font-size: 42px;
    font-family: cursive;
}
.links{
    display: flex;
    justify-content: center;
}
.first .links ul{
    margin: 20px 50%;
    display: flex;
    gap: 32px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-bottom: 100px;
}
a{
    text-decoration: none;
    color: black;
    font-size: large;
}

.two{
    display: grid;
    margin: 10px 10%;
    gap: 16px;
    height: auto;
    grid-template-columns: repeat(2, 1fr);
}

.three{
    margin-top: 32px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.icons{
    display: flex;
    gap: 8px;
}
.for-center{
    display: flex;
    justify-content: center;
}